body {
    background-color: #F8ECD4;
    color: #442D22;
    font-family: 'Optima', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center; /* Center text content */
}

.content {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text content horizontally */
    padding: 0 40px 0 40px;
    height: 100vh; /* Set the content height to 100% of the viewport height */
    font-size: 30px;
    line-height: 1.5;
    margin-right: 24vw;
    font-family: 'Palatino', sans-serif;
}

.non-cv {
    justify-content: center;
}

/* Custom CSS for navigation menu */
.vertical-menu {
    z-index: 1; /* Set a higher stacking order to ensure it's above the content */
    top: 0;
    right: 0;
    bottom: 20px; /* Adjust this value as needed */
    position: fixed; /* Fixed positioning to keep the menu in view */
    font-size: 40px;
    width: 20vw; /* Adjust the width as needed */
    height: 100%; /* Full height of the viewport */
    background-color: #EF8535; /* Background color of the menu */
    padding: 20px; /* Add space for menu items */
}

.vertical-menu a {
    display: block;
    color: #fff; /* Text color */
    text-decoration: none;
    padding: 10px 0; /* Adjust spacing between items */
    line-height: 1.5; /* Vertically center the text */
}

.vertical-menu a:hover {
    background-color: #FFCE05; /* Background color on hover */
}

h1 {
    font-size: 40px;
}

.circular-image {
    border-radius: 50%; /* Makes the image circular */
    max-width: 200px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center the image horizontally */
    margin: 0 auto; /* Center the image horizontally */
}

img {
    height: auto;
    width: auto;
    max-width: 85%;
    max-height: 85%;
}

.logo {
    max-width: 80%;
}

.icon {
    max-width: 40%;
    max-height: 40%;
    width: auto;
    height: auto;
}

.cv {
    padding-top: 20px;
}

.contact {
    padding-top: 70px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 25px;
}

a {
    color: #EF8535; /* Change the color to your desired color */
}