body {
    background-color: #F8ECD4;
    color: #442D22;
    font-family: 'Optima', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center; /* Center text content */
}

.content {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text content horizontally */
    padding: 0 40px 0 40px;
    height: 100vh; /* Set the content height to 100% of the viewport height */
    font-size: 30px;
    line-height: 1.5;
    margin-right: 24vw;
    font-family: 'Palatino', sans-serif;
}

.non-cv {
    justify-content: center;
}

.about {
    font-size: 25px;
}

/* Custom CSS for navigation menu */
.vertical-menu {
    z-index: 1; /* Set a higher stacking order to ensure it's above the content */
    top: 0;
    right: 0;
    bottom: 20px; /* Adjust this value as needed */
    position: fixed; /* Fixed positioning to keep the menu in view */
    font-size: 40px;
    width: 20vw; /* Adjust the width as needed */
    height: 100%; /* Full height of the viewport */
    background-color: #EF8535; /* Background color of the menu */
    padding: 20px; /* Add space for menu items */
}

.vertical-menu a {
    display: block;
    color: #fff; /* Text color */
    text-decoration: none;
    padding: 10px 0; /* Adjust spacing between items */
    line-height: 1.5; /* Vertically center the text */
}

.vertical-menu a:hover {
    background-color: #FFECB3;
}


.vertical-menu a.selected {
    background-color: #FFCE05;
}

.sunflower-icon {
    color: #FFD700; /* Set the color to your desired sunflower color */
    font-size: 40px; /* Adjust the size as needed */
    margin-right: 10px; /* Add space between the menu text and the icon */
}


h1 {
    font-size: 40px;
    text-align: left;
    color: #EF8535;

}

.interests .interest-content {
    display: none;
}

.sunflowers {
    display: flex; /* Make the sunflowers display horizontally */
    justify-content: center; /* Center the sunflowers horizontally within the container */
}

.sunflower {
    width: 150px; 
    height: 150px; 
    margin-top: 25px;
    background-size: cover;
    cursor: pointer;
}

#sunflower1 {
    background-image: url('1.png'); 
}

#sunflower2 {
    background-image: url('2.png'); 
}

#sunflower3 {
    background-image: url('3.png'); 
}

#sunflower4 {
    background-image: url('4.png'); 
}

#sunflower5 {
    background-image: url('5.png');
}

img {
    height: auto;
    width: auto;
    max-width: 85%;
    max-height: 85%;
}

.cv {
    padding-top: 20px;
    font-size: 25px;
}

.contact {
    padding-top: 70px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 25px;
}

.top-left-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 700px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

a {
    color: #EF8535; 
}